body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100vh;

}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

.login-page .alert {
  position: absolute;
  top: 5%;
  padding: 3px 5px;
  text-align: center;
  width: auto !important;
  transition: all 1s;
  animation: alert 0.56s ease;
  border-width: 3px;
}

.alert-success {
  box-shadow: 2px 2px 2px 1px rgba(134, 191, 76, 0.579), -2px -2px 2px 1px rgba(134, 191, 76, 0.536);

}

.alert-danger {
  box-shadow: 2px 2px 2px 1px rgba(142, 81, 48, 0.579), -2px -2px 2px 1px rgba(118, 58, 44, 0.578);

}

@keyframes alert {
  0% {
    top: 0%;
  }

  100% {
    top: 5%;
    ;
  }
}

.login-page Form {
  width: 250px;
  height: auto;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.274);
  padding: 20px;
}

.login-page Button {
  width: 100%;
  padding: 2px;
  font-size: smaller;
}

.login-page input {
  width: 100%;
  padding: 2px 15px;
  font-size: smaller;
  overflow: hidden;
}

.login-page input:focus {
  outline: none !important;

}

.login-page label {
  font-size: smaller;
}

.login-link {
  font-size: smaller !important;
  text-align: center;
  display: grid;
}
tbody img{
  border-radius: 50%;
  margin: auto;
}
tbody , thead{
  text-align: center;
}
.modal-content img{
 border-radius: 50%;
width:20%;
margin-right: 60px;

}
.modal-content{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  width: 400px;
  padding: 30px;
  background-color: #fff0f6;
}

.modal-content Button{
  margin-left: 10px;
}
.modal-content input{
  background: linear-gradient(-45deg, #d9f7be, #b5f5ec, #bae0ff, #d3adf7);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}
